/* styles.css */
.admin-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.admin-menu li {
    margin-bottom: 10px;
}

.admin-menu li a {
    display: block;
    padding: 8px 12px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    width: 200px; /* Задаем фиксированную ширину */
    text-align: center; /* Центрируем текст */
    margin: 0 auto; /* Центрируем блоки по горизонтали */
}



ul.admin-menu li a:hover {
    background-color: #007bff;
    color: white;
}







.log-container {
    margin-top: 20px;
    padding: 20px;
    overflow-x: auto;
}

.log-table {
    width: 100%;
    border-collapse: collapse;
}

.log-table th,
.log-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    white-space: pre-wrap; /* Разрешает перенос текста */
}

.log-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
